/*стиль для компонента*/
:host {
  display: block;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;

  .card-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

.side-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-icon-wrap {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: .2rem;
  }
}

// стиль для иконки удаления
.remove-button {
  left: 10px;
}

// стиль для карточки
.mat-card {
  padding: .7rem;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

  &:hover {
    box-shadow: 0 2px 12px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 12px 0 rgba(0, 0, 0, .2);
  }
}
