/*стиль для компонента*/
:host {
  display: block;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}
/*стиль для иконки удаления*/
.remove-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

// стиль для карточки
.mat-card {
  box-shadow: 0 2px 10px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
