.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: transparent !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.board-link.active {
  font-weight: bold;
}

.toolbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  padding: 20px;
}

.title-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 500px) {
    display: block;
    max-width: 250px;
  }
}

.profile-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sort-icon.reverse {
  transform: scaleY(-1);
}

.user-name {
  @media (max-width: 991px) {
    display: none;
  }
}
