<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar *ngIf="user">
      <button mat-button style="font-size: 1.4rem;" (click)="goToBoardsPage()">Доски</button>
      <button mat-icon-button>
        <mat-icon aria-label="Добавить доску" (click)="goToCreateBoardPage()">add</mat-icon>
      </button>
    </mat-toolbar>

    <ng-container *ngIf="isBoardsDeleteProcess">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <mat-nav-list *ngIf="user">
      <a class="board-link"
         mat-list-item
         [routerLink]="['boards', board._id]"
         routerLinkActive="active"
         *ngFor="let board of (boardList | async)">
        {{ board.name }}
        <mat-icon matListIcon (click)="deleteBoard($event, board._id)">delete</mat-icon>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="toolbar-wrapper">

        <div class="title-wrapper">
          {{ title }}

          <ng-container *ngIf="isBoardPage">
            <button mat-icon-button aria-label="Сортировка" [matMenuTriggerFor]="sortMenu">
              <mat-icon class="sort-icon" [class.reverse]="sortBoardDirection === '1'">sort</mat-icon>
            </button>
            <mat-menu #sortMenu="matMenu">
              <button mat-menu-item (click)="sortBoard('name')">
                <span>название</span>
              </button>
              <button mat-menu-item (click)="sortBoard('createdAt')">
                <span>дата</span>
              </button>
            </mat-menu>
          </ng-container>

        </div>

        <div class="profile-block" *ngIf="user" [matMenuTriggerFor]="profileMenu">

          {{ user?.fullname }}

          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>

          <mat-menu #profileMenu="matMenu" xPosition="before">
            <button mat-menu-item disabled>
              <mat-icon>build</mat-icon>
              <span>Настроки</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Выйти</span>
            </button>
          </mat-menu>

        </div>
      </div>
    </mat-toolbar>

    <div class="main-content">
      <ng-content></ng-content>
   </div>

  </mat-sidenav-content>
</mat-sidenav-container>
