.create-board-card {
  width: 40vw;
  margin: 25vh auto;

  @media (max-width: 991px) {
    width: 60vw;
  }

  @media (max-width: 600px) {
    width: 80vw;
  }
}

.mat-form-field {
  margin: 1.5rem 0;
}
