<mat-card class="create-board-card">
  <div class="">
    <div>

      <mat-form-field hintLabel="Максимум 40 симолів">
        <input #boardnameinput matInput placeholder="Ім'я дошки" [(ngModel)]="boardName" minlength="1" maxlength="40">
        <mat-hint align="end">{{boardnameinput.value?.length || 0}}/40</mat-hint>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              (click)="createBoard()"
              [disabled]="!boardName.length || isBoardCreateProcess">
        Створити дошку
      </button>

    </div>

    <ng-container *ngIf="isBoardCreateProcess">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

  </div>
</mat-card>
