<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Регистрация</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="userForm">
      <table cellspacing="0">
        <mat-form-field>
          <input matInput placeholder="Полное имя" formControlName="fullname" name="fullname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" name="email" required>
          <mat-error *ngIf="email.invalid && email.errors.email">Неправильный email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Пароль" formControlName="password" type="password" name="password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Введите пароль еще раз" formControlName="repeatPassword" type="password"
                 name="repeatPassword" required>
          <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Пароли не совпадают</mat-error>
        </mat-form-field>
      </table>
    </form>
  </mat-card-content>

  <div class="error" *ngIf="error.message">{{ error.message}}</div>

  <mat-card-actions>
     <div  class="submit-button-wrap">
       <button mat-raised-button (click)="register()" color="primary" [disabled]="isFormSubmitting">Регистрация</button>
    </div>
    <ng-container *ngIf="isFormSubmitting">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>
    <span>Уже зарегистрированы? <a [routerLink]="['/auth/login']">Авторизуйтесь здесь </a></span>
  </mat-card-actions>
</mat-card>
