<div class="close-icon-wrapper">
  <button class="close-icon" mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Закрити діалог">close</mat-icon>
  </button>
</div>

<h2 class="card-name" *ngIf="!isShowEditCardNameInput">
  <span>{{ data.card.name }}</span>
  <mat-icon (click)="toggleEditCardNameInput()">create</mat-icon>
</h2>

<mat-form-field class="example-focus-monitor" *ngIf="isShowEditCardNameInput">
  <input #cardNameInput matInput placeholder="Ім'я картки" [(ngModel)]="data.card.name"
         (blur)="toggleEditCardNameInput()">
</mat-form-field>

<div>
  <mat-form-field>
    <textarea matInput placeholder="Додати замітку" [(ngModel)]="noteName"></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" (click)="addNote()" [disabled]="!noteName.length || isCreateNoteProcess">
      Додати
    </button>
  </div>
</div>

<div *ngIf="isNotesLoading || isCreateNoteProcess || isDeleteNoteProcess" style="margin: 5px 0;">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="notes-list-wrap">

  <mat-card class="notes-card" *ngFor="let note of notes">

    <mat-card-actions class="card-actions-wrap">
      <span class="date">{{ note.createdAt | date: 'medium' }}</span>

      <span class="actions">

        <button *ngIf="!note.favorite" mat-icon-button (click)="toggleFavoriteNote(note)">
          <mat-icon aria-label="Зробити замітку обранною">favorite_border</mat-icon>
        </button>

         <button *ngIf="note.favorite" mat-icon-button (click)="toggleFavoriteNote(note)">
          <mat-icon aria-label="Видалити замітку с обраних">favorite</mat-icon>
        </button>

        <button class="" mat-icon-button (click)="removeNote(note._id)">
          <mat-icon aria-label="Видалити замітку">delete</mat-icon>
        </button>

      </span>

    </mat-card-actions>
    <mat-card-content>
      <p class="note-name">
        {{ note.name }}
      </p>
    </mat-card-content>

  </mat-card>

</div>
