/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

html,
body {
  height: 100%;
}

@include mat-core($custom-typography);

body {
  margin: 0;
}

.mat-drawer-content {
  background-color: rgba(22,21,71,0.3);
}

mat-form-field {
  width: 100%;
}

.card-dialog {
  width: 600px;
}

.mat-toolbar {
  background: #161548 !important;
}

.mat-drawer-inner-container {
  background-color: #f6f5fb;
}

.wrap {
  .mat-focused ~ h4 {
    display: none;
  }
}
